@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    font-family: 'Roboto Slab', serif;
}

.nav{
    background-color: rgb(56, 54, 54);
}

.dark{
    background-color: #333;
    color: #ddd;
}

.dark-aside{
    background-color: #333;
    height: 650px;
    color: #ddd;
}

.dark-lighter{
    background-color: rgb(77, 77, 77);
    color: #ddd;
}

/* toggle switch */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #535353;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #535353;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*  */
.nav .collapse ul li a:hover{
    color: rgb(197, 54, 54);
}

nav .collapse ul li .nav-link{
    color: gainsboro;
    font-size: 15px;
}

header .download a{
    color: rgb(207, 51, 51);
    transition: all 0.3s ease-in-out;
    color: white;
    border: 1px solid ;
    border-radius: 5px;
    padding: 20px;
}

header .download a{
    color: rgb(207, 51, 51);
}

header .download a:hover{
    background-color: rgb(211, 70, 70);
    color: white;
}


header .flex-caption h2{
    background: rgba(218, 68, 83, 0.7);
    font-weight: 400;
    font-size: 24px;
    max-width: 640px;
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 0;
    color: #fff;
}

.blog{
    background-color: rgb(235, 234, 233);
}

.flex-caption .expert{
    background: rgb(59, 59, 59);
    background: rgba(59, 59, 59, 0.8);
    display: block;
    color: #ddd;
    max-width: 600px;
    padding: 12px 20px;
}

.flex-caption{
        position: absolute;
        left: 0;
        right: 0;
        top: 200px;
        z-index: 1;
        padding: 0 20px;
        display: inline-block;
        max-width: 1170px;
        margin: auto;
}

.aside-post{
    background-color: rgb(248, 248, 248);
}

.card-body a{
    float: right;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 30px;
}

.card img:hover{
    opacity: 70%;
}

.card img{
    transition: all 0.3s ease-in-out ;
}

.aside-post{
    height: 650px;
}


.d-flex li a svg{
    background-color: rgb(56, 56, 56);
} 


.m-3 li a svg{
    background-color: gainsboro;
}

.d-flex li a .s1:hover{
    background-color: rgb(62, 158, 236);
} 

.d-flex li a .s1{
    transition: all 0.3s ease-in-out;
}

.d-flex li a .s2:hover{
    background-color: rgb(27, 73, 158);
} 

.d-flex li a .s2{
    transition: all 0.3s ease-in-out;
}

.d-flex li a .s3:hover{
    background-color: rgb(194, 49, 49);
} 

.d-flex li a .s3{
    transition: all 0.3s ease-in-out;
}

.d-flex li a .s4:hover{
    background-color: rgb(64, 168, 60);
} 

.d-flex li a .s4{
    transition: all 0.3s ease-in-out;
}

.d-flex li a .s5:hover{
    background-color: rgb(0, 0, 0);
} 

.d-flex li a .s5{
    transition: all 0.3s ease-in-out;
}

.post-aside .post .content a{
    color: rgb(214, 51, 51);
    transition: all 0.3s ease-in-out;
}

.post-aside .post .content a:hover{
    color: gray;
}

.card-body{
    overflow: hidden;
}

.card .card-body h5:hover{
    color: rgb(214, 51, 51);
}
.card .card-body h5{
    transition: all 0.2s ease-in-out;
}

.card .card-body a{
    background-color: rgb(211, 70, 70);
    transition: all 0.3s ease-in-out;
}

.card .card-body a:hover {
    color: red;
}

.card .card-body a:hover{
    background-color: rgb(56, 54, 54);
}

.col-lg-7 .older{
    color: rgb(243, 243, 243);
    background-color: rgb(43, 38, 38);
    transition: all 0.3s ease-in-out;
}

.col-lg-7 .older:hover{
    background-color: rgb(211, 70, 70);
    
}

@media (max-width: 996px) {
    .flex-caption{
        display: none;
    }
}


@media (max-width: 1400px) {
    .blog .row .aside-post{
        height: 100%;
    }
}

.button{
    background-color:rgb(56, 54, 54) ;
    color: #ddd;
    border: none;
}

#task3{
    background-color: rgb(211, 70, 70);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: opacity 0.3s;
}


.scroll{
    background-color: rgb(211, 70, 70);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.5s
}


.scroll.show{
    cursor: pointer !important;
    opacity: 1;
}



.div1{
    height: 675px;
    transition: 0.5s;
}

.card-main{
    height: 910px;
    overflow: visible;
    transition: 0.5s;
}

.card-body{
    overflow: hidden ;
}

.fade-text{
    -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
}

.bottun-div{
    width: 150px;
    margin-left: 570px;
    margin-top: -8px;
    padding: 15px;
}

.btn1{
    background-color: rgb(211, 70, 70) ;
    color: white;
}